<% pageTitle = "Enter one time password - Get a document legalised – GOV.UK" %>

<%if(error){
    pageTitle = "Error: Enter one time password - Get a document legalised – GOV.UK"
} %>
<%- include ('partials/header.ejs') %>

<%if(back_link){%>
    <a href="<%= back_link%>" class="back_to_previous_button govuk-link">Back</a>
<%}%>

<%if(error){%>
<br />
    <div class="govuk-error-summary show" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1" autofocus>
      <p class="govuk-error-summary__title" id="error-summary-title"> There is a problem </p>
      <div id="all-errors">
        <ul class="govuk-list govuk-error-summary__list">
        <%errorsArray.forEach(function(err){%>
            <li>
                <a href="#<%= err.fieldName %>"><%= err.fieldError %> </a>
            </li>
        <% }) %>
        </ul>
      </div>
    </div>
<%}%>

<% if (info.length > 0) { %>
<br />
    <div class="alert alert--success" role="alert"><p class="alert__message"><%= info %></p></div>
<% } %>

<h1 class="heading-xlarge">Check your <% if (mfaPreference === 'Email') { %>email<% } else { %>phone <% } %></h1>

    <p>We’ve sent you a<% if (mfaPreference === 'Email') { %>n email<% } else { %> text message <% } %> with a security code.</p>

    <p>The code will be valid for 10 minutes.</p>


    <form action="/api/user/enter-totp?_csrf=<%=_csrf%>" method="post" class="column-two-thirds">

        <div class="govuk-form-group">
            <label class="form-label-bold" for="passcode">Security code</label>
            <span class="error-message">
                    <%if (error) { %>
                          <%errorsArray.forEach(function(err){%>
                               <% if (err.fieldName === 'passcode') { %>
                                    <%= err.fieldError %>
                               <% } %>
                          <% }) %>
                    <%}%>
            </span>
            <input class="govuk-input govuk-input--width-5" aria-required="true"  id="passcode" name="passcode" autocomplete="off" type="text" maxlength="6" >

            <br />
            <br />
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Not received a<% if (mfaPreference === 'Email') { %>n email<% } else { %> text message <% } %>
                    </span>
                </summary>
                <div class="govuk-details__text">

                <p>
                    <% if (mfaPreference === 'Email') { %>Emails <% } else { %>Text messages <% } %> can take a few minutes to arrive. If you do not receive a security code, you can <a href="/api/user/enter-totp?resendPasscode=true">resend it</a>

                    <% if (mfaPreference === 'Email' && mobileNo !== null) {%>
                        or <a href="/api/user/enter-totp?resendPasscode=true&changeMethod=true">send it as a text message</a> to the mobile number stored in your Legalisation account.
                    <% } else if (mfaPreference === 'SMS'){%>
                        or <a href="/api/user/enter-totp?resendPasscode=true&changeMethod=true">send it as an email.</a>
                    <% } %>
                </p>

                <% if (mfaPreference === 'SMS') { %>

                    <h2 class="form-label-bold">If your mobile number has changed</h2>
                    <br />
                    <p>You’ll need to:</p>
                    <ul>
                        <li><a href="/api/user/enter-totp?resendPasscode=true&changeMethod=true">send a security code via email</a></li>
                        <li>update the mobile number stored in your Legalisation account</li>
                    </ul>

                <% } %>

                </div>
            </details>
        </div>

        <input type="submit" class="button" value="Continue">

    </form>


<%- include ('partials/footer.ejs') %>
